<p> INDEX HOME </p>
<p> <%= @current_user.email  %> </p>


<%= link_to "Lista de usuarios", admin_users_path, class: 'font-medium text-blue-700 dark:text-white/50 hover:underline dark:hover:text-cyan-300' %>


<%= button_to "Log Out", destroy_user_session_path, method: :delete, class: 'font-medium text-blue-700 dark:text-white/50 hover:underline dark:hover:text-cyan-300' %>
