<div class='max-w-[248px] py-5 px-6 dark:bg-slate-500/20 rounded-2xl shadow-lg dark:shadow-none hover:dark:shadow-md dark:shadow-cyan-500/70 dark:border dark:border-slate-400 transition duration-300 ease'>
  <%= yield %>
</div>
